* {
    box-sizing: border-box;
}

form {
    /* width: 95%; */
    /* width: 400px; */
    min-width: 100%;
    /* min-height: 400px; */
    margin: 0 auto;
    padding: 20px 0px;
    /* background-color: red; */
}

form label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    text-align: left;
    /* margin: 1rem 0 0.2rem; */
}

form span {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    margin: 1rem 0 0.2rem;
}

input,
select {
    width: 100%;
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    color: black;
    border: 2px solid #d0d5df;
    /* background-color: #2d3748; */
    border-radius: 6px;
    outline: none;
}

input:focus,
select:focus {
    /* border-color: #4299e1; */
    border-color: #b5e2bf;
}

input::placeholder,
select::placeholder {
    color: #999ea5;
}

/* button {
    display: block;
    margin: 1rem 0;
    padding: 0.35rem 0.5rem;
    background-color: #4299e1;
color: #1a202c;
border: none;
border-radius: 3px;
width: 100%;
font-size: 1rem;
font-weight: bold;
cursor: pointer;
}

*/
input.input-error,
select.input-error {
    border-color: #fc8181;
}

button:disabled {
    opacity: 0.25;
}

.formik_label {
    display: flex !important;
    justify-content: space-between;
    margin-left: 50px;
    font-size: 16px;
    /* margin-right: 20px; */
    font-weight: normal;
}


.MuiButtonBase-root span {
    margin-top: 0;
}