#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.error {
  margin-left: 10px;
  color: #f06262;
  font-size: 0.85rem;
  text-align: left;
  margin-top: 0.25rem;
}


.link_tag {
  text-decoration: none;
}